@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Roboto&family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding:0;
}

nav{
    font-family: 'ABeeZee', sans-serif;

}
nav ul{
    display: flex;
    align-items: center;
    background-color: black;
    list-style-type: none;
    height: 60px;
    color:white;
}
nav ul li{
    padding: 0px 12px;
}
.brand img{
    width:60px;
    height: 60px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.1rem;

}
.container{
    min-height: 70vh;
    background-color: black;
    color: white;
    /* display: flex; */
    font-family: 'Varela Round', sans-serif;
    width: 70vw;
    margin: 20px auto;
    border-radius: 15px;
    padding: 10px;
    background-image:url('cover.jpeg') ;
    background-size: contain;

}
.bottom{
    position:sticky;
    height:100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#myProgressBar{
    width: 80vw;
    cursor: pointer;
}
.icons{
    margin-top: 10px;
    
}
.icons i{
    cursor: pointer;
}
.songItem{
    display: flex;
    margin: 10px;
    background-color: white;
    color: black;
    width: 35%;
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px ;
    padding: 0px 10px;
} 
.songItem img{
    height: 30px;
    width: 30px;
    padding-right: 5px ;
    border-radius: 50%;
    
}
.timestamp{
margin: 0px 10px;

}
.songlistplay i{
    cursor: pointer;
}
.songItemContainer{
    margin-top: 10px;
}
.songinfo{
    display: flex;
    position: absolute;
    left: 10vw;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-family: 'Varela Round', sans-serif;
    
    

}
.songinfo img{
    opacity: 0;
    transition: 0.1s ease-in;
    margin-top: 3px;
}
.songnameplay{
    margin-left: 10px;
}
#masterSongName{
    opacity: 0;
    transition: 0.1s ease-out;
}